#play-btn {
    -fx-text-fill: #FFFFFF;
}

.progress {
    -fx-background-color: #FFFFFF;
}

.option-container {
    -fx-background-color: #000000;
}

.slider .track {
    -fx-background-color: transparent;
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
}

.slider:focused .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell: hover {
    -fx-background-color: transparent;;
    -fx-text-background-color: red;
}

.table-row-cell: odd{
    -fx-background-color: transparent;;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: even{
    -fx-background-color: transparent;;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
}

.text-field {
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

#phrase {
    -fx-text-fill: #737373;
}

.button {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #737373;
}

.button:hover {
    -fx-text-fill: #FFFFFF;
}