#play-btn {
    -fx-text-fill: #FFFFFF;
}

.option-container {
    -fx-background-color: #000000;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
}

.text-field {
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

#phrase {
    -fx-text-fill: #737373;
}

.button {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #737373;
}

.button:hover {
    -fx-text-fill: #FFFFFF;
}